<picture>
    <!--[if IE 9]><video style="display: none"><![endif]-->
    <source data-srcset="{% asset '{{ include.lazy_image_path }}' magick:resize=300x magick:format=webp proxy_output_id=300x @path %}"
            media="(max-width: 299px)" type="image/webp"/>
    <source data-srcset="{% asset '{{ include.lazy_image_path }}' magick:resize=600x magick:format=webp proxy_output_id=600x @path %}"
            media="(max-width: 599px)" type="image/webp"/>
    <source data-srcset="{% asset '{{ include.lazy_image_path }}' magick:resize=900x magick:format=webp proxy_output_id=900x @path %}" type="image/webp"/>
    <source data-srcset="{% asset '{{ include.lazy_image_path }}' magick:resize=300x proxy_output_id=300x @path %}"
            media="(max-width: 299px)"/>
    <source data-srcset="{% asset '{{ include.lazy_image_path }}' magick:resize=600x proxy_output_id=600x @path %}"
            media="(max-width: 599px)"/>
    <source data-srcset="{% asset '{{ include.lazy_image_path }}' magick:resize=900x proxy_output_id=900x @path %}"/>
    <!--[if IE 9]></video><![endif]-->
    <img src="{% asset '{{ include.lazy_image_path }}' magick:resize=50x proxy_output_id=50x @path %}"
        data-src="{% asset '{{ include.lazy_image_path }}' magick:resize=900x proxy_output_id=900x @path %}"
        class="{{ include.classes }} lazyload"
        alt="{{ include.alt }}"
        data-sizes="auto"/>
</picture>
