<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">

    <title>{{ page.title }} - {{ site.data.theme.author }}</title>

    <meta name="description" content="{{ site.data.theme.description }}">
    <meta name="keywords" content="{{ site.data.theme.keywords }}">
    <meta name="author" content="{{ site.data.theme.author }}">
    <meta name="theme-color" content="{{ site.data.theme.pwa_theme_color }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% include global/pwa_icons.html %}

    {% asset global.css %}
    {% asset '{{ page.name | replace: ".html", ".css" }}' %}
    {% asset global.js defer %}
    {% asset '{{ page.name | replace: ".html", ".js" }}' defer %}
</head>
