<div id="homeNav" class="fixed-top bg-theme-primary shadow-md">
    <nav class="navbar navbar-expand-md nav-width">
        <a class="navbar-brand" href="/#home" id="navToHome">
            {% include global/_lazy_image.html max_res=30 classes="d-inline-block align-top" alt="Site Logo" lazy_image_path="global/favicon/favicon.png" %}
            Daniel Wyckoff
        </a>
        <button id="homeNavButton" class="navbar-toggler border-0 collapsed" type="button" data-toggle="collapse" data-target="#homeCollapseNav" aria-controls="homeCollapseNav" aria-expanded="false" aria-label="Toggle navigation">
            {% asset global/chevron-down-solid.svg @inline %}
        </button>

        <div class="collapse navbar-collapse" id="homeCollapseNav">
            <ul class="navbar-nav ml-auto mt-2 mt-md-0 mb-2 mb-md-0">
                <li class="nav-item mx-4 mx-md-0">
                    <a class="nav-link" href="/#home" id="navPage1">Home</a>
                </li>
                <li class="nav-item mx-4 mx-md-0">
                    <a class="nav-link" href="/#about" id="navPage2">About</a>
                </li>
                <li class="nav-item mx-4 mx-md-0">
                    <a class="nav-link" href="/#projects" id="navPage3">Projects</a>
                </li>
                <li class="nav-item mx-4 mx-md-0">
                    <a class="nav-link" href="/#contact" id="navPage4">Contact</a>
                </li>
                <li class="nav-item mx-4 ml-md-4 mr-md-0">
                    <a class="nav-link" href="/wishlist">Wishlist</a>
                </li>
                <li class="nav-item mx-4 mx-md-0 border-0">
                    <a class="nav-link" href="https://docs.google.com/document/d/10NmUmNuzEAcyEZpT56INhYWzFTdSnUdRkWBeeJsGjx0" target="_blank" rel="noopener">Resume</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
