<meta name="msapplication-config" content="{% asset 'browserconfig.xml' @path %}" />

<meta property="og:title" content="{{ site.data.theme.og_title }}" />
<meta property="og:site_name" content="{{ site.data.theme.og_site_name }}" />
<meta property="og:image" content="{% asset 'global/favicon/og-image.png' @path %}" />

<link rel="mask-icon" href="{% asset 'global/favicon/safari-pinned-tab.svg' @path %}" color="{{ site.data.theme.pwa_mask_color }}">
<link rel="manifest" href="{% asset 'site.webmanifest' @path %}">
