<div class="container py-5 my-4 my-md-5">
    <ul class="list-group">
        <h4 class="mb-4">Possible gift ideas!</h4>
        {% for wish in site.data.wishlist reversed %}
            {% if wish.purchased %}
                <li class="list-group-item list-group-item-light strikethrough" data-toggle="tooltip" data-placement="top" title="{{ wish.purchased }}">
            {% else %}
                <li class="list-group-item">
            {% endif %}
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1 font-weight-semiBold">{{ wish.title }}</p>
                    <small data-toggle="tooltip" data-placement="top" title="Date added to wishlist">{{ wish.date }}</small>
                </div>
                <small class="ml-3 text-muted">{{ wish.description }}</small>
            </li>
        {% endfor %}
    </ul>
</div>
