<div class="col-sm-6 col-md-4 col-lg-3 slow-transition-all image-padding project-link-cnt">
    <a href="#" class="project-link" id="{{ include.project.name }}ProjectLink" data-page-id="{{ include.project.name }}ProjectPage">
        <div class="zoom-bounds">
            {% assign lazy_images_path="index/projects/" | append: include.project.name | append: "/card" %}
            {% include _lazy_image.html classes="link-image zoom-blur w-101" alt=include.project.name lazy_images_path=lazy_images_path %}
            <div class="hidden-abs-text">
                <div>
                    <h2 class="inner-div-mg">{{ include.project.display_name }}</h2>
                    <p class="inner-div-mg link-tags">{{ include.project.tags }}</p>
                </div>
                <p class="inner-div-mg indented-p">{{ include.project.link_description }}</p>
            </div>
        </div>
    </a>
</div>
