
<meta property="og:title" content="{{ site.data.theme.og_title }}" />
<meta property="og:site_name" content="{{ site.data.theme.og_site_name }}" />
<meta property="og:image" content="{% asset 'global/favicon/og-image.png' @path %}" />

<link rel="manifest" href="site.webmanifest">
<link rel="mask-icon" href="{% asset 'global/favicon/favicon.svg' @path %}" color="{{ site.data.theme.pwa_mask_color }}">

<link rel="apple-touch-icon" href="{% asset 'global/favicon/favicon.png' magick:resize=57x proxy_output_id=57x @path %}">
<link rel="apple-touch-icon-precomposed" href="{% asset 'global/favicon/favicon.png' magick:resize=57x proxy_output_id=57x @path %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% asset 'global/favicon/favicon.png' magick:resize=60x proxy_output_id=60x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="{% asset 'global/favicon/favicon.png' magick:resize=60x proxy_output_id=60x @path %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% asset 'global/favicon/favicon.png' magick:resize=72x proxy_output_id=72x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% asset 'global/favicon/favicon.png' magick:resize=72x proxy_output_id=72x @path %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% asset 'global/favicon/favicon.png' magick:resize=76x proxy_output_id=76x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% asset 'global/favicon/favicon.png' magick:resize=76x proxy_output_id=76x @path %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% asset 'global/favicon/favicon.png' magick:resize=114x proxy_output_id=114x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% asset 'global/favicon/favicon.png' magick:resize=114x proxy_output_id=114x @path %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% asset 'global/favicon/favicon.png' magick:resize=120x proxy_output_id=120x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% asset 'global/favicon/favicon.png' magick:resize=120x proxy_output_id=120x @path %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% asset 'global/favicon/favicon.png' magick:resize=144x proxy_output_id=144x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% asset 'global/favicon/favicon.png' magick:resize=144x proxy_output_id=144x @path %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% asset 'global/favicon/favicon.png' magick:resize=152x proxy_output_id=152x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% asset 'global/favicon/favicon.png' magick:resize=152x proxy_output_id=152x @path %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% asset 'global/favicon/favicon.png' magick:resize=180x proxy_output_id=180x @path %}">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="{% asset 'global/favicon/favicon.png' magick:resize=180x proxy_output_id=180x @path %}">

<link rel="icon" type="image/png" sizes="16x16" href="{% asset 'global/favicon/favicon.png' magick:resize=16x proxy_output_id=16x @path %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% asset 'global/favicon/favicon.png' magick:resize=32x proxy_output_id=32x @path %}">
<link rel="icon" type="image/png" sizes="192x192" href="{% asset 'global/favicon/favicon.png' magick:resize=192x proxy_output_id=192x @path %}">
