<head>
    <meta charset="UTF-8">
    <meta name="description" content="4B Computer Scientist at the University of Waterloo. Specialize in Full Stack \
Engineering with an interest in AI and Process automation.">
    <meta name="keywords" content="Daniel,Wyckoff,HTML,CSS,JavaScript,Resume,Waterloo,FullStack,AI,Process,Automation">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="{{ site.theme_color }}"/>
    <title>{{ page.title }} - Daniel Wyckoff</title>
    <link rel="icon" href="{% asset favicon.png @path %}">
    {{ page.name | replace: ".html", ".css" | asset }}
</head>
