<head>
    <meta charset="UTF-8">
    <meta name="description" content="Daniel Wyckoff's online resume">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Wyckoff - {{ page_title }}</title>
    <link rel="icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" href="/assets/css/customBootstrap.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
