.list-group-item-action {
    color: #0072F0;
}

.list-group-item-action:focus, .list-group-item-action:hover {
    color: #0072F0;
    background-color: #f5faff;
}

.list-group-item-light:first-of-type {
    margin-top: 1.5rem;
}