<div class="container-fluid" id="about" style="color: white; position: relative;">
    <div class="absolute-background about-background"></div>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="sticky-top pb-4">
                    <div class="pt-lg-5 pt-xl-5"></div>
                    <div class="pt-lg-5 pt-xl-5"></div>
                    <h1 class="pt-lg-5 pt-xl-5">Hello.</h1>
                    <p>Is it me you're looking for?</p>
                </div>
            </div>
            <div class="col-lg-6">
                {% include _lazy_image.html classes="rounded mx-auto d-block w-100 p1 mb-5 headshot-column" alt="Professional Headshot" lazy_images_path="index/about/headshot" %}
                <h2>A.I.</h2>
                <p>Life long learning is an important value to me, and being able to share that with software is pretty cool. CS480 and CS486 have taught me plenty about traditional machine learning techniques and AI. In my spare time I've been learning how to use Tensorflow for logistic regression and neural nets.</p>
                <h2>CONCURRENCY</h2>
                <p>I've been in love with concurrency problems since CS350. The nuances of lock-based data structures and communicating between parallel threads is an exciting and unique aspect of computer science. If ever you have a problem with deadlocks or bad performance among threads, send me a message!</p>
                <h2>FULL STACK</h2>
                <p>Full stack is my job, but also reminiscent of my interests. I've always been fascinated by web technologies and distributed systems, so naturally I learned to work with them! I picked up Rails at my current job and love the apps I've built with it. I aspire to transfer this knowledge to a more modern framework like Django soon.</p>
                <h2>COFFEE</h2>
                <p>This hobby of mine started when coffee became an academic necessity after long nights of studying. Since then I've slowly refined my palate and experimented with as many brewing techniques as possible. My current favorite brewing technique is the AeroPress, which I would highly recommend.</p>
                <h2>COMPUTERS</h2>
                <p>I started building computers in highschool so I could play video games with my friends. Since then I've been tweaking my personal setup to perfection. My main rig is an R5-1600 at 3900Mhz paired with an old GTX780Ti I got from a friend. I run Windows with the Ubuntu subsystem for all my coding.</p>
            </div>
        </div>
    </div>
</div>
