<div class="container-fluid" id="about">
    <div id="aboutBackground" class="absolute-background bg-theme-secondary"></div>
    <div class="container py-5 bg-theme-secondary">
        <div class="row">
            <div class="col-lg-6">
                <div class="sticky-top pb-4">
                    <div class="pt-lg-5 pt-xl-5"></div>
                    <div class="pt-lg-5 pt-xl-5"></div>
                    <h1 class="pt-lg-5 pt-xl-5 text-center pb-2">Hello :)</h1>
                    {% include global/_lazy_image.html max_res=350 classes="rounded mx-auto d-block w-100 p1 mb-5 headshot-column" alt="Professional photo by Yasir" lazy_image_path="index/about/bodyshot.jpg" %}
                </div>
            </div>
            <div class="col-lg-6">
                {% for category in site.data.about %}
                    <h2>{{ category.title }}</h2>
                    <p>{{ category.discussion }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
