<div class="container-fluid bg-theme-secondary" id="contact">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <a href="https://www.linkedin.com/in/daniel-wyckoff-617297160/" class="icon-link mx-1" target="_blank" rel="noopener" aria-label="Daniel Wyckoff @ LinkedIn" data-toggle="tooltip" title="LinkedIn">
                    {% asset index/contact/linkedin.svg @inline %}
                </a>
                <a href="https://github.com/raginpirate" class="icon-link mx-1" target="_blank" rel="noopener" aria-label="Daniel Wyckoff @ GitHub" data-toggle="tooltip" title="Github">
                    {% asset index/contact/github.svg @inline %}
                </a>
                <a href="https://www.instagram.com/raginpirate/" class="icon-link mx-1" target="_blank" rel="noopener" aria-label="Daniel Wyckoff @ Instagram" data-toggle="tooltip" title="Instagram">
                    {% asset index/contact/instagram.svg @inline %}
                </a>
                <div class="mb-0 mt-2"><a href="mailto:daniel@danielwyckoff.ca" data-toggle="tooltip" title="Email Me">daniel@danielwyckoff.ca</a></div>
                <hr class="bg-white short-hr">
                <p class="mb-0">© 2018 Daniel Wyckoff</p>
                <p class="mb-0">Background by <a href="https://raffsimone.com/" target="_blank" rel="noopener" data-toggle="tooltip" title="Visit the Artist">Raffaela Simone</a></p>
            </div>
        </div>
    </div>
</div>
