<div class="container-fluid vh-100 overflow-hidden position-relative" id="home">
    {% include global/_lazy_image.html max_res=600 classes="absolute-background home-background fade-in-bg" alt="" lazy_image_path="index/home/home_background.png" %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="h-100 d-flex flex-column justify-content-center align-items-center text-center">
                <h1 class="slide-in-left">Daniel C. Wyckoff</h1>
                <hr class="mb-4 bg-dark fade-in-hr short-hr">
                <p class="slide-in-right font-weight-semiBold">
                    <span>Fullstack Engineer @ Fera.ai</span>
                    <span class="d-none d-sm-inline"> | </span>
                    <span class="d-block d-sm-inline">BCS University of Waterloo</span>
                </p>
            </div>
        </div>
    </div>
</div>
