<nav class="navbar navbar-expand-sm navbar-light bg-transparent-white slow-transition-background fixed-top" id="navbar">
    <div class="container-fluid nav-container no-overflow-x">
        <div class="navbar-header" id="mainNavHeader">
            <a class="navbar-brand" href="#">
                <img src="{% asset favicon.png @path %}" class="d-inline-block align-top nav-image" alt="">
                Daniel Wyckoff
            </a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNavCollapse" aria-controls="mainNavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <img class="navbar-toggle-icon" src="{% asset chevron-down-solid.svg @path %}" alt="Menu">
            </button>
        </div>
        <div class="collapse navbar-collapse" id="mainNavCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link disabled" href="#home" id="navHomePage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills" id="navPage2">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects" id="navPage3">Projects</a>
                </li>
                <li class="nav-item nav-item-last">
                    <a class="nav-link" href="#contact" id="navPage4">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<a id="mobileHomeButton" href="#" class="slow-transition-all home-button"><img class="mx-auto home-button-img" src="{% asset chevron-down-solid.svg @path %}" alt="Home Button"></a>
