<div class="background-wrapper slow-transition white-font" style="background: #151a2b;" id="page4" data-nav-id="navPage4">
    <div class="container-fluid text-center align-middle no-overflow-x">
        <a href="https://github.com/raginpirate" target="_blank" class="link-icon" rel="noopener">
            <img src="/assets/img/index/github.svg" alt="raginpirate @ Github">
        </a>
        <a href="https://www.linkedin.com/in/daniel-wyckoff-617297160/" target="_blank" class="link-icon" rel="noopener">
            <img src="/assets/img/index/linkedin.svg" alt="Daniel Wyckoff @ LinkedIn">
        </a>
        <hr class="white-hr">
        <a class="white-font" href="mailto:danielcwyckoff@gmail.com">danielcwyckoff@gmail.com</a>
        <p>© 2018 Daniel Wyckoff.</p>
    </div>
</div>
