<div class="background-wrapper slow-transition" style="background-image: linear-gradient(#ffffff, #e2e2e2);" alt="" id="page3" data-nav-id="navPage3">
    <div class="container-fluid no-overflow-x">
        <div class="mg-row">
            <h1 class="mg-bot text-center">Projects</h1>
            <div id="projectLinks">
                <div class="table" id="sortingTable">
                    <ul id="project-list" class="inline-table">
                        <li><a href="#" data-filter="all">All</a></li>
                        <li><a href="#" data-filter="Process Automation">Process Automation</a></li>
                        <li><a href="#" data-filter="Concurrency">Concurrency</a></li>
                        <li><a href="#" data-filter="A.I.">A.I.</a></li>
                        <li><a href="#" data-filter="Full Stack">Full Stack</a></li>
                    </ul>
                </div>
                <div class="row" id="projectsRow3">
                    {% for project_name in project_names %}
                        {% include index/projects/{{project_name}}/link.html %}
                    {% endfor %}
                </div>
            </div>
            {% for project_name in project_names %}
                {% include index/projects/{{project_name}}/page.html %}
            {% endfor %}
        </div>
    </div>
</div>
