<div class="container-fluid" id="projects">
    <div class="container py-5">
        <h2 class="text-center mb-5">What I've been up to:</h2>
        <div class="row">
            {% for project in site.data.projects reversed %}
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card h-100 shadow-sm icon-link project-container">
                        <a href="{{ project.url }}" target="_blank" rel="noopener" class="project-link" data-toggle='tooltip' title='{{ project.title }}'></a>
                        {% asset global/open-external.svg @inline %}
                        <div class="card-body text-center">
                            {% include global/_lazy_image.html max_res=48 classes="mb-3" alt=project.title lazy_image_path=project.image_path %}
                            <h5 class="card-title mb-1">{{ project.title }}</h5>
                            <small class="card-text">{{ project.description }}</small>
                            <div class="mb-3"></div>
                            <small>{{ project.tags }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
