<div class="container-fluid" id="projects">
    <div class="container py-5">
        <h2 class="text-center mb-5">What I've been up to:</h2>
        <div class="row">
            {% for project in site.data.projects reversed %}
                <div class="col-sm-6 col-lg-4 mb-3">
                    <div class="card h-100 shadow-sm icon-link">
                        <a href="{{ project.url }}" target="_blank" rel="noopener" class="project-link" data-toggle='tooltip' title='{{ project.title }}'></a>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16px" class="external-icon">
                            <path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z">
                            </path>
                        </svg>
                        <div class="card-body text-center">
                            {% include global/_lazy_image.html max_res=48 classes="mb-3" alt=project.title lazy_image_path=project.image_path %}
                            <h5 class="card-title mb-1">{{ project.title }}</h5>
                            <small class="card-text">{{ project.description }}</small>
                            <div class="mb-3"></div>
                            <small>{{ project.tags }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
