<script src="/assets/js/index/mobileDropdownCloser.js"></script>
<script src="/assets/js/index/navbarLinkLocator.js"></script>
<script src="/assets/js/index/viewportResizingFixer.js"></script>
<script src="/assets/js/index/hiddenElementsStyler.js"></script>
<script src="/assets/js/index/projectSwitcher.js"></script>
<script src="/assets/js/index/projectFilterer.js"></script>

<script>
    const mobileDropdownCloser = new MobileDropdownCloser({
        mainNavHeaderSelector: '#mainNavHeader',
        mainNavButtonSelector: '#mainNavButton',
        mainNavCollapseSelector: '#mainNavCollapse'
    });

    const navbarLinkLocator = new NavbarLinkLocator({
        paneIds: ["homePage", "page2", "page3", "page4"],
        navbarId: "mainNavCollapse",
        navbarOffset: 56,
        mobileHomeButtonSelector: "#mobileHomeButton"
    });

    const viewportResizingFixer = new ViewportResizingFixer({
        "#homePage": "min-height",
        "#headshot": "max-height"
    });

    const hiddenElementsStyler = new HiddenElementsStyler({
        "#page2": ["shrink"],
        ".project-link-cnt": ["hidden"]
    });

    const projectSwitcher = new ProjectSwitcher({
        projectLinksSelector: "#projectLinks"
    });

    const projectFilterer = new ProjectFilterer({
        linksCntSelector: ".project-link-cnt",
        filterLinksSelector: "#project-list"
    });
</script>
