/**
 * Begin Navbar Stylings
 */

.nav-width {
    max-width: 980px;
    margin: auto;
}

@media (max-width: 575px) {
    .nav-item {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #eaeaea;
    }
}

.navbar-toggler:focus {
    outline: none;
}

.collapsed .navbar-icon {
    transform: rotate(0deg);
}

.navbar-icon {
    transition-duration: 0.8s;
    transform: rotate(180deg);
}

/**
 * End Navbar Stylings
 */

.absolute-background-container {
    position: relative;
    overflow: hidden;
}

.absolute-background {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}

.home-background {
    width: 636px;
    height: 900px;
    margin-left: -318px;
    margin-top: -450px;
}

.icon-link {
    text-decoration: none !important;
}

.icon-link:hover .icon-path {
    fill: #005cbf;
}

.headshot-column {
    max-width: 400px;
}

.greyscale {
    filter: grayscale(1);
}

.shrink {
    max-width: 1366px !important;
}
